<div class="main h-100 position-relative">
  <div class="d-flex justify-content-center">
    <pre class="logo">
________      _____    _________         ________  ._________________________
\_____  \    /  _  \  /   _____/         \______ \ |   \_   _____/\_   _____/
/   |   \  /  /_\  \ \_____  \   ______  |    |  \|   ||    __)   |    __)
/    |    \/    |    \/        \ /_____/  |    `   \   ||     \    |     \
\_______  /\____|__  /_______  /         /_______  /___|\___  /    \___  /
        \/         \/        \/                  \/         \/         \/
    </pre>
  </div>
  <div class="h-100 mt-2">
    <router-outlet></router-outlet>
  </div>
</div>